<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="oyunlandırma.Properties.Settings.Database3ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database3.accdb"
            providerName="System.Data.OleDb" />
        <add name="oyunlandırma.Properties.Settings.OyunlastıimaConnectionString"
            connectionString="Data Source=KARAMESEFATIH\SQLEXPRESS;Initial Catalog=Oyunlastıima;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="oyunlandırma.Properties.Settings.OyunlaştırmaConnectionString"
            connectionString="Data Source=KARAMESEFATIH\SQLEXPRESS;Initial Catalog=Oyunlaştırma;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="oyunlandırma.Properties.Settings.OyunlaştırmaConnectionString1"
            connectionString="Data Source=192.168.1.41;Initial Catalog=Oyunlaştırma;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>